#dialogpopup {
  position: absolute;

  width: 100%;
  top: 0;

  color: white;
}

.div_pop {
  position: absolute;

  width: 100%;
  bottom: 0;
  left: 0;

  max-height: 350px;

  background-color: #1e2428;
}

.pop_list {
  max-height: 250px;
  overflow: auto;
}
.resp.focus{
	background-color: #151e23;
}

.resp.visible{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resp {
  display: none;
  padding: 0 20px;

  height: 45px;
}

.resp .strongResp {
  color: rgba(241, 241, 242, 0.88);
}

.resp .shortResp {
  color: rgba(241, 241, 242, 0.45);
}
